/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4rem; /* 14px */
}
.container {
    margin: 0 auto;
    max-width: 90%;
}
h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}
h1, h2 {
    font-size: 3.6rem; /* 36px */
    font-weight: 400;
}
h1 {
    width: 90%;
}
h2 {
    margin-bottom: 1.5rem;
}
.h2-white {
    color: #ffffff;
}
h3 {
    font-size: 2.4rem; /* 24px */
}
ul {
    list-style: none;
}
a {
    color: #060A24;
    text-decoration: none;
}
p {
    line-height: 1.5;
}
.btn {
    align-items: center;
    background-color: #c3904de7;
    display: flex;
    font-size: 1.6rem;
    font-weight: 500;
    height: 5rem;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
}

/* Navigation Bar */
nav {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    text-transform: uppercase;
}
nav > img {
    height: 2.4rem;
}
.nav-desktop {
    display: none;
}
.nav-mobile input {
    display: none;
    position: absolute;
}
.nav-mobile ul {
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 4rem;
}
.nav-mobile ul li {
    background-color: #ffffff;
    padding: 1.5rem;
    transition: all 0.5s ease;
}
.nav-mobile input:checked ~ ul li {
    transform: translateX(100%);
}
.nav-mobile ul li a {
    color: #ffffff;
}

/* Header */
header {
    padding: 2rem 0;
}
header p {
    margin: 1.6rem 0 3.6rem 0;
}

/* Episodes */
.episodes {
    padding: 8rem 0 16rem 0;
}
.episodes__podcasts {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
.episodes__podcasts iframe {
    margin-bottom: 1rem;
}

/* Guests */
.guests {
    padding: 6rem 0;
}
.guests ul li {
    overflow: hidden;
    position: relative;
}
.guests ul li img {
    display: block;
    width: 100%;
}
.guests ul li p {
    background-color: #0000007c;
    bottom: 0;
    color: #ffffff;
    font-weight: 400;
    left: 0;
    margin: 0;
    padding: 0.5rem 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Footer */
footer {
    padding: 2rem 0;
}
footer p {
    padding-bottom: 1.6rem;
    text-align: center;
}
footer div {
    align-items: center;
    display: flex;
    justify-content: space-around;
}
footer div a i {
    font-size: 2rem;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    h1, h2, h3 {
        font-size: 2.8rem;
    }
    p, .btn {
        font-size: 1.2rem;
    }
    .container {
        max-width: 95%;
        padding: 0 15px;
    }
    .my-icon {
        width: 100px;
        margin-top: 10px;
    }
    .nav-desktop {
        display: none;
    }
    .nav-mobile {
        display: block;
    }
    .nav-mobile ul li a {
        color: #060A24;
    }
    .episodes, .guests {
        padding: 4rem 0;
    }
    .episodes__podcasts, .about-us, .guests {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    footer div {
        flex-direction: column;
        margin-top: 10px;
    }
}
